@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bundles test application</title>
</head>
<body>
    <div>
        3.min.js is not included in the bundle.
    </div>

    @Scripts.Render("~/bundles/library")
</body>
</html>
